.loginMenuLayout {
    color: black;
    display: flex;
    background-image: linear-gradient(65deg, rgba(17, 27, 33, 0.75) 0%, rgba(30, 30, 30, 0.75) 100%);
    width: 26.75em;
    aspect-ratio: 1.25 / .9;
    border-radius: 5px;
}

@import "./_welcome_page.scss";
@import "./_animations.scss";
@import "./keyframes.scss";