@keyframes jump {
    0%, 100%{
        transform: translateY(0px);
    };
    35% {
        transform: translateY(-10px)
    }
    50% {
        transform: translateY(0px);
    };
    75% {
        transform: translateY(-10px);
    };

}