@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 50;
}

@import "./[locale]/(login-register)/scss/global.scss";
@import "./[locale]/(alpostel)/scss/global.scss";
@import "./components/scss/global.scss";