$bg-color-contact: #101616;
$bg-color-header: #1F2A1B;
$bg-color-footer: #171A1A;
$bg-color-msg: #1A1F1E;
$btn-color: #2e2e2ecc;
$btn-color-active: #1a1919;
$bg-isTest: #0034b9ad;
$bg-isjTest: #a0b497af;
$bg-isjTestHover: #a0b497c4;
$bg-isjTestActive: #a0b497e7;
$bg-isjTest2: #8BABC0;