.contactsContainer {
    border: 1px solid black;
    justify-content: start;
    height: 100vh;
    background-color: $bg-color-msg;
    img {
        user-select: none;
    }
    .headerBarContacts {
        
        min-width: 100%;
        background-color: $bg-color-header;
        min-height: 12.5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 15px;
        

        .settingsContacts {
            //cursor: pointer;
            transition: all 1s ease-in-out;    
            //display: flex;
            //justify-content: center; 
            width: 2em;
            //width: calc((25% / 100) * 25);
        }


    }

    .mainContacts {
        min-width: 100%;
        min-height: 74.5%;
        
        z-index: 1;
        .contactsGroupsList {
            position: relative;
            
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .alPostelLogoScreen {
                //background-color: aquamarine;
            }
            .groupsScreen {
                //background-color: bisque;
            }
            .messagesScreen {
                //background-color: rgb(105, 92, 77);
                overflow-y: auto;
                height: 100%;
            }
            
            .messagesScreen::-webkit-scrollbar {
                width: 7px; /* largura da barra de rolagem */
            }
            .messagesScreen::-webkit-scrollbar-thumb {
                background-color: #888888d0; /* cor de fundo do polegar */
                border-radius: 5px; /* borda arredondada do polegar */
            }
            .messagesScreen::-webkit-scrollbar-thumb:hover {
                background-color: #555; /* cor de fundo do polegar ao passar o mouse */
            }

            .alPostelLogoScreen, .groupsScreen, .messagesScreen {
                
                position: absolute;
                min-height: 100%;
                min-width: 100%;
                //top: -100%;
                transition: top .5s ease-in;
            }
            
        }
    }

    .footerBarContacts {
        position: fixed;
        min-width: 43.5%;
        bottom: 0;
        background-color: $bg-color-footer;
        min-height: 14.5%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .msgsBtn, .searchBtn, .groupsBtn {
            cursor: pointer;

        }

        .msgsBtn, .groupsBtn {
            //background-color: $btn-color;
            width: 52px;
            padding: .2em;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1/1;
            border-radius: 30px;
        }

        .msgsBtn:hover, .groupsBtn:hover {
            background-color: $btn-color;
            
        }

        .msgsBtn:active, .groupsBtn:active {
            background-color: $btn-color-active;  
              
        }

        .searchBtn:active {
            scale: .95;
        }

    }
}

.settingsScreen {
    transition: left .5s ease-in, right .5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    header {
        min-height: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .headerContainerCT {
            display: flex;
            align-items: flex-start;
        }
    }
    main {
        min-height: 80%;
        width: 100%;
        .profilePhotoMainContacts {
            position: relative;
            width: 2.25em;
            aspect-ratio: 1/1;
            padding: 0px .2em;
            cursor: pointer;
            img {
                border-radius: 30px;
            }
        }
    }
}

.userScreen {
    transition: right .5s ease-in;
}