.contactsContainer {
    border: 1px solid black;
    justify-content: start;
    height: 100vh;
    background-color: $bg-color-msg;
    img {
        user-select: none;
    }
    .headerBarContacts {
        
        min-width: 100%;
        background-color: $bg-color-header;
        min-height: 12.5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 15px;
        

        .settingsContacts {
            //cursor: pointer;
            transition: all 1s ease-in-out;    
            //display: flex;
            //justify-content: center; 
            width: 2em;
            //width: calc((25% / 100) * 25);
        }


    }

    .mainContacts {
        min-width: 100%;
        min-height: 74.5%;
        
        z-index: 1;
        .contactsGroupsList {
            position: relative;
            
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .alPostelLogoScreen {
                //background-color: aquamarine;
            }
            .groupsScreen {
                //background-color: bisque;
            }
            .messagesScreen {
                //background-color: rgb(105, 92, 77);
                overflow-y: auto;
                height: 100%;
            }
            
            .messagesScreen::-webkit-scrollbar {
                width: 7px; /* largura da barra de rolagem */
            }
            .messagesScreen::-webkit-scrollbar-thumb {
                background-color: #888888d0; /* cor de fundo do polegar */
                border-radius: 5px; /* borda arredondada do polegar */
            }
            .messagesScreen::-webkit-scrollbar-thumb:hover {
                background-color: #555; /* cor de fundo do polegar ao passar o mouse */
            }

            .alPostelLogoScreen, .groupsScreen, .messagesScreen {
                
                position: absolute;
                min-height: 100%;
                min-width: 100%;
                //top: -100%;
                transition: top .5s ease-in;
            }
            
        }
    }

    .footerBarContacts {
        position: fixed;
        min-width: 43.5%;
        bottom: 0;
        background-color: $bg-color-footer;
        min-height: 14.5%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .msgsBtn, .searchBtn, .groupsBtn {
            cursor: pointer;

        }

        .msgsBtn, .groupsBtn {
            //background-color: $btn-color;
            width: 52px;
            padding: .2em;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1/1;
            border-radius: 30px;
        }

        .msgsBtn:hover, .groupsBtn:hover {
            background-color: $btn-color;
            
        }

        .msgsBtn:active, .groupsBtn:active {
            background-color: $btn-color-active;  
              
        }

        .searchBtn:active {
            scale: .95;
        }

    }
}
.settingsScreenBGBLK{
    background-color: black !important;
}
.settingsScreen {
    transition: left .5s ease-in, right .5s ease-in;
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: $bg-color-footer;
    justify-content: start;
    padding: .5em 0em;
    width: 100%;
    color: white;
    header {
        min-height: 2em;
        width: 100%;
        display: flex;
        //align-items: flex-start;
        justify-content: stretch;
        .headerContainerCT {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding: 0 1.5em;
            font-size: 1.1em;
            .itermediateHeaderContainerCT_IN {
                display: flex;
                align-items: center;
                /* padding: 0 .5em; */
                min-width: 9em;
                justify-content: flex-start;
                gap: .75em;
                .returnButtonGDRT {
                    cursor: pointer;
                }
                .returnButtonGDRT:active {
                    background-color: #3b3b3bbd;
                }
                .returnButtonGDRT:hover {
                    background-color: #3b3b3bd6;
                }
                .titleLabelGDRT {

                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.849);
                }
            }
           
            .editPhotoLuPen {
                cursor: pointer;
                font-size: 1em;
                color: white;
                width: 1.75em;
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1 / 1;
                border-radius: 100%;
            }
            .editPhotoLuPen:active {
                background-color: #3b3b3bbd;
            }
            .editPhotoLuPen:hover {
                background-color: #3b3b3bd6;
            }
        }
    }
    main {
        min-height: 80%;
        width: 100%;
        .userOptionsSettings {
            display: flex;
            align-items: center;
            min-height: 4em;
            width: 100%;
            padding: .5em 0em;
            border-top: .1em solid rgb(88 88 88 / 14%);  
            border-bottom: .1em solid rgb(88 88 88 / 14%);
            
            .intermediateOptionsSettings {
                width: 100%;
                //cursor: pointer;
                padding: .5em;
                display: flex;
                align-items: center;
                justify-content: center;
                .imageProfileChangeItm{
                    align-items: center;
                    min-width: 3em;
                    gap: 1em;
                    padding: 0.5em 0em;
                    position: relative;
                    display: flex;
                    align-items: center;
                    .profilePhotoMainContacts {
                        position: relative;
                        width: 3em;
                        aspect-ratio: 1/1;
                        padding: 0px .2em;
                        max-height: 80vh;
                        img {
                            
                            cursor: pointer;
                        }
                        //animation: orbit 5s linear infinite;
                    }
                    .nameAndMsgSTATUS {
                        h3 {
                            font-size: 1.1em;
                            font-weight: 400;
                        }
                        p { 
                            font-size: .85em;
                            font-weight: 300;
                        }
                    }
                    .changeProfileImageContainer:hover{
                        animation-play-state: paused;
                    }
                    .changeProfileImageContainer {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        animation: orbit 180s linear infinite;
                        display: flex;
                        padding: .25em;
                        align-items: flex-end;
                        justify-content: flex-end;
                        border-radius: 100%;
                        cursor: pointer;
                        .changeProfileImage {
                            width: 2.25em;
                            aspect-ratio: 1/1;
                            position: relative;
                            animation: settingsAnimation 60s infinite linear;
                            .alpostelChangeProfileLogo {
                                position: absolute;
                                border-radius: 100%;
                                z-index: -1;
                                
                            }

                            
                            .matzlamahChangeProfilePhoto {
                                width: 100%;
                                aspect-ratio: 1/1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $bg-isjTest;
                                color: black;
                                border-radius: 100%;
                                cursor: pointer;
                                animation: orbit 30s linear infinite;
                            }
                            .matzlamahChangeProfilePhoto:hover {
                                background-color: $bg-isjTestHover;
                            }
                            .matzlamahChangeProfilePhoto:active {
                                background-color: $bg-isjTestActive;
                            }
                        }
                    }
                }
                
    
                
                
                
            }
            .intermediateOptionsSettingsHAC {
                cursor: pointer;
            }
            .intermediateOptionsSettingsHAC:hover {
                background-color: rgba(134, 134, 134, 0.24);
            }
            .intermediateOptionsSettingsHAC:active {
                background-color: rgba(134, 134, 134, 0.363);
            }
            
        }
        .changePhotoOptions {
            background-color: rgba(19, 19, 19, 0.24);
            width: 100%;
            height: 100%;
            //display: flex;

            justify-content: flex-end;
            position: absolute;
            top: 0;
            .intermediatePhotoOpt {
                position: relative;
                width: 100%;
                height: 100%;
                .changePhotoOptionsContent {
                    position: absolute;
                    border-radius: 0em .5em .5em 0em;
                    background-color: black;
                    //min-height: 4em;
                    height: 100%;
                    padding: .25em 0.75em;
                    //width: 15%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.5em;
                    .headerPhotoOptions {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        /* min-height: 17%; */
                        padding: 1em .5em;
                        border-bottom: 2px solid #3535356c;
                        .alpostelContainer {
                            position: relative;
                            aspect-ratio: 1/1;
                            width: 2em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    
                    
                    .centralizeOptions {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        justify-content: space-evenly;
                        flex-direction: column;
                        .optionsContent {
                            cursor: pointer;
                            font-size: 1.75em;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 1.75em;
                            //background-color: brown;
                            border: 2px solid #3535356c;
                            border-radius: 100%;
                            aspect-ratio: 1 / 1;
                        }
                        .photoOptions {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 55%;
                            gap: 1em;
                            /* padding: 1em .5em; */
                            border-bottom: 2px solid rgba(53, 53, 53, .424);
                            .optContainer {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                label {
                                    color: #ffffffed;
                                    font-size: .75em;
                                    font-weight: 300;

                                }
                            }
                        }
                        .optContainer:hover, .deletePhoto:hover {
                            background-color: #474747ba;
                        }
                        .optContainer:active, .deletePhoto:active {
                            background-color: #4747478c;
                        }
                        .deletePhoto {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    
                }

                    
                
            }   
        }
    }
}

.userScreen {
    transition: right .5s ease-in;
}