.semitic {
    direction: rtl;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 200;
    font-style: normal;
    h1 {
        font-weight: 400;
        text-align: right !important;
        padding-right: .2em;
    }
    
}


.main_Login {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: stretch;  
    background-image: linear-gradient(180deg, #21331A 37%, #1E1E1E 100%); justify-content: flex-end; 
    align-items: center; 
    min-height: 100vh;
    .barLogin {
        width: 100%; 
        height: 37vh; 
        position: relative; 
        display: flex;
        background-image:  linear-gradient(360deg, rgba(33, 51, 26, 0.33) 0%, #63994E 100%); 
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: center; 
        padding-top: 2em;
        .container {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            min-width: 20em;

            .to2Container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
     
    }
}



