.formData_ContainerEmail {
                        
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .container_Input_Div {
        //border: 1.8px solid rgb(0, 0, 0);
        border-radius: 6.5px;
        width: 100%;
        position: relative;
        min-height: 40px;
        .Inputs{
            background-color: transparent;
            width: 100%;
            padding: .35em .5em;
            font-size: 16.5px;
            outline: none;
            font-weight: 400;
            
        }
        
        .labels, .labelsAllert{
            color: rgba(255, 255, 255, 0.473);
            max-height: 25px;
            position: absolute;
            width: auto;
            bottom: .36em;
            font-size: 16.5px;
            font-weight: 500;
            
            max-width: calc(100% - 16px);
            overflow: hidden;
            padding: 0 7px;
            transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1), opacity .15s cubic-bezier(0.4, 0, 0.2, 1);
            white-space: nowrap;
            z-index: 1;
            cursor: pointer
        }

        .Inputs:-internal-autofill-selected { 
            appearance: initial;
            background-color: transparent !important;
            background-color: initial !important;
            color: initial !important;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
            -webkit-transition-delay: 9999s;
        }

        
    }

    .Inputs:focus ~ .labelsAllert,
    .Inputs:not(:placeholder-shown) ~ .labelsAllert {
        transform: scale(0.78) translateY(-27px) translateX(-6px);
        color: #ff2424;
        background-image: linear-gradient(to top, #1C241F, #1F2921);
        border-radius: 15px;
    }

    .Inputs:focus ~ .labels,
    .Inputs:not(:placeholder-shown) ~ .labels {
        transform: scale(0.78) translateY(-27px) translateX(-6px);
        color: #71BA00;
        background-image: linear-gradient(to top, #1C241F, #1F2921);
        border-radius: 15px;
    }
    
    
}



