.languageSwitch {
    color: black;
    width: 7.375em;
    
    .select_Language {
        option {
            display: flex;
            background-color: #161E1F;
            padding: 0.625em;
            gap: 0.4375em;
        }
        width: 100%;
        color: white;
        background-color: transparent;
        padding: 0em .2em;
        overflow-x: hidden !important;
        border: none;

        .semiticOption {
            direction: rtl;
            text-align: right;
        }
    }
    
}