@media (max-width: 475px) {
    .padronDivContainerInputs {
        flex-direction: column;
        .dataUser {
            .dataUser_Container{
                .costumerToMediaQueryPerfilEmail {
                    display: flex;
                    justify-content: center;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    .titlePadronMdQueryRegister {
        aspect-ratio: auto;
    }
}

@media (max-height: 365px) {
    body {
        font-size: 15px;
        .loginRegisterMenuLayout {
            min-height: 60vh;
        }

        .padronDivContainerInputs {
            margin-top: 75px;
        }
    }
}

@media (max-width: 810px) {
    body {
        background-color: $bg-color-header;
    }
    .intermediateDivMsgs {
        width: 100% !important;
    }
    .messagesContainer {
        width: 100%;
    }
    .sectionContact, .sectionMsg {
        width: 100% !important;
    }

    .sectionDisplayNone {
        display: none;
    }
    .sectionDisplayOk{
        display: block !important;
    }

    .footerBarContacts {
        //position: fixed;
        //bottom: 0;
        width: 100%;
    }
}