.optionsSwitchContainer {
    width: 100%;
    .optionsMenu {
        display: flex;
        justify-content: center;
        padding: .5em;
        cursor: pointer;
        
        border-radius: 100%;
        width: 100%;
    }
    .optionsMenu:hover {
        background-color: rgba(0, 0, 0, 0.158);
    }
    .optionsMenu:active {
        background-color: rgba(0, 0, 0, 0.397);
    }
}