.optionsSwitchContainer {
    width: 25%;
    .optionsMenu {
        display: flex;
        justify-content: center;
        padding: .5em;
        cursor: pointer;
        background-color: black;
        border-radius: 100%;
        width: 100%;
    }
}