.searchUserComponent {

    padding-top: 10px;

    .searchUserContainer {
        //position: relative;
        display: flex;
        //flex-direction: column;
        //align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        //align-items: stretch;
        //align-content: stretch;
        height: 100%;
        .costumerClassDivContainer {
            border-radius: 0 !important;
            color: white;
        }

        .btnSearchContainer {
            display: flex;
            align-items: center;
            .searchBTN {
                background-color: black;
                cursor: pointer;
                color: white;
                min-width: 4em;
                height: 80%;
            }
        }
        
    }
}

.alignCostum {
    padding: 0 !important;
    align-self: start;
}