@import "./animations";
@import "./languageSwitch";
@import "./languageFlagName";
@import "./inputText";
@import "./formRegister";
@import "./defaultBackgound";
@import "./emailBar";
@import "./_dataUser_Container";
@import "./contactsContainer";
@import "./_contactsContainerDivLabel";
@import "./messagesContainer";
@import "./_searchUser";
@import "./media_queries";
@import "./textareaLabel";
@import "./optionsSwitch";
@import "./groupForm";
@import "./emojisList";
@import "./photoIcon";
@import "./deleteMsgScreen";
@import "./guest";
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}

.intermediateGroups {
    display: flex;
    flex-direction: column;
    gap: .75em;
    position: absolute;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
    height: 98.5%;
}
.intermediateGroups::-webkit-scrollbar {
    width: 7px; /* largura da barra de rolagem */
}
.intermediateGroups::-webkit-scrollbar-thumb {
    background-color: #888888d0; /* cor de fundo do polegar */
    border-radius: 5px; /* borda arredondada do polegar */
}

footer {
    font-weight: 400;
}

// Token

.ringLoaderToken span > span:first-child {
    border-color: #8BABC0 !important;
}


